@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {

    background-image: url('https://media.licdn.com/dms/image/C4D1BAQHlfrf-p5ciVg/company-background_10000/0?e=2159024400&v=beta&t=tmIeDnN7GR4JS_HsXSZHCgoViV_T-3nSa0gmxxZzSXw ');
    background-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;

}


.title {
    color: #010141;
    margin-bottom: 20px;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    padding: 18px 0px;
    text-transform: capitalize;
    font-family: "Lucida Console", "Courier New", monospace;

}

input[type=text], select {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #333333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 7px 0 10px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: bold;

}

input[type=text] {
    outline: none;
    border: none;
    border-bottom: 2px solid #d1d1d1;
}


input[type=submit] {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background: -webkit-linear-gradient(right, #00dbde, #010141);
    border: none;
    border-radius: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

input[type=submit]:hover {
    background-color: #45a049;

}


input[type=file] {
    display: grid !important;
}

input:focus {
    /*background-color: yellow;*/
    background: transparent;
}

::placeholder {
    color: #d1d1d1;
}


.box-border {
    background: #fff;
    border: 2px solid #fff;
    vertical-align: middle;
    width: 33%;
    position: absolute;
    left: 37%;
    top: 18%;
    padding: 25px !important;
    box-shadow: 0px 0px 10px #ddd;
}


:focus {
    outline: none;
}

.content {
    position: relative;
    margin-top: 20px;
}

.input {
    width: 100%;
    border: 0;
    padding: 10px 10px;
    border-bottom: 1px solid #929fba;
}

.input ~ .border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
}

.input:focus ~ .border {
    width: 100%;
    transition: 0.5s;
}

.container {
    border: 0.5px solid;
    padding-bottom: 40px;
}

.border {
    border: 1px solid #4285F4 !important;
}