name: Build And Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    - name: Build
      run: go build -o siem-data-producer main.go

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag yjagdale/siem-data-producer:latest

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag yjagdale/siem-data-producer:1.0.0-SNAPSHOT

    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: yjagdale/siem-data-producer
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
